.leaveBalance__container{
    width: 70%;
    background-color: white;
    margin-left: 250px;
    /* padding-top: 20px; */
    text-align: left;
    padding-bottom: 30px;
    /* border: 2px solid rgb(190, 190, 190); */
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
    position: relative;
}
.leaveBalance__box__wrapper{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
    height: 60vh;
    justify-content: center;
}
.leaveBalance__box .box__head{
    color: black;
    font-size: 20px;
    font-weight: 500;
    
}
.leaveBalance__box{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.leave__category{
    display: flex;
    font-size: 50px;
    align-items: center;
    gap: 10px;

}

.leave__category p{
    margin: 0;
    color: #552D59;
}
.leave__category img{
    height: 35px;
    
}
.box__hoursAvailable{
    color: #E3A10F;
    font-weight: 700;
}
.box__hoursScheduled{
    color: #969191;
}
