@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E5E5E5;
  font-family: 'Poppins', sans-serif;
}

code {
 
}

:root{
  --main-color :#552D59;
  --action-color:#732B2B;
  --edit-color:#552D59;
  --input-background-color: #F1F1F1;
}

.main{
  width: 70%;
  margin-left: 15%;
  justify-content: center;
  align-items: center;
}

.left th td{
  text-align: left !important;
}

th{
  text-align: center !important;
}

label{
  float: left;
}

.profile_picture{
  margin: 2%;
  margin-left: 30%;
  width: 40%;
  height: 40%;
  background-color: rgb(241, 238, 229);
  border-radius: 10px;
}

.errorMsg{
  color: red;
  font-weight: bold;
}

.req{
  color: red;
  font-weight: bold;
}

select::-webkit-scrollbar {
  display: none;
}
